@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

body {
	font-family: 'IBM Plex Mono', Arial, Helvetica, sans-serif;
	background-color: #666;
	background-image: url('../images/platine.jpg');
	background-size: cover;
	font-size: 1rem;
}

.container {
	padding: 2rem;
	width: 60%;
	height: 55vh;
	display: flex;
	flex-direction: column;
	align-items: center	;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 2rem;
	border-radius: 8px;
	border: 1px solid #88888888;
	background-color: #888888aa;
	box-shadow: 3px 4px 5px #aaaaaa66;
}


.warning {
	color: #FF7D7D;
}

label {
	font-size: 1.3rem;
}

input[type="text"] {
	font-family: 'IBM Plex Mono', Arial, Helvetica, sans-serif;
	outline: none;
	text-align: right;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #FF7D7D;
	font-size: 1.3rem;
	color: #e9d5da
}

.button {
	cursor: pointer;
	margin-left: 2rem;
	/* width: 30%; */
	text-align: center;
	font-size: 1.2rem;
	border: none;
	/* letter-spacing: .5rem; */
	padding: 0.3rem 1rem;
	font-weight: 900;
	color: #e9d5da;
	border-radius: 3px;
	background-color: #4E6C50;
}

.button:hover {
	filter: brightness(120%);
}

table {
	/* border: 1px solid black; */
	color: #e9d5da;
	border-radius: 3px;
}

tr,
th,
td {
	font-family: 'IBM Plex Mono', Arial, Helvetica, sans-serif;
	font-size: 1.3rem;
	padding: .3rem .4rem;
	border-radius: 3px;
}

th {
	background-color: #aaa;
	color: #000;
	/* border-left: 1px solid black; */
	border-left: 1px solid transparent;
}

td.t-data {
	background-color: #444;
	/* border-left: 1px solid black; */
	/* border-top: 1px solid black; */
	border-left: 1px solid transparent;
	border-top: 1px solid transparent;
	text-align: right;
}

td.t-desc {
	background-color: #aaa;
	color: #000;
	/* border-top: 1px solid black;  */
	border-top: 1px solid transparent;
}

@media screen and (max-width: 500px) {
	html {
		font-size: 50%;
	}
	.container {
		background-color: transparent;
		border: none;
		width: 100%;
	}
}